﻿html {
  border-top: 5px solid #662d91;
  height: 100%;
}
body {
  font-family: 'Clear Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 14px;
  border-top: 5px solid #0171bd;
  color: #151515;
  padding-bottom: 60px;
  min-height: 100%;
  position: relative;
}
h1 {
  font-weight: 700;
  letter-spacing: -1px;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}
h3 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}
a {
  color: #151515;
}
a:hover {
  color: #151515;
}
a:focus {
  outline: none;
  color: #0171bd;
  text-decoration: none;
}
strong {
  font-weight: 600;
}
#accessibility li {
  display: inline-block;
  padding: 0 10px;
  border-left: 1px solid #151515;
  line-height: 12px;
}
#accessibility li:first-child,
#accessibility li:last-child {
  border-left: none;
}
#accessibility li a {
  font-weight: 500;
}
#accessibility li a.btn {
  margin-top: -20px;
  padding: 27px 16px 15px 16px;
}
#navigation {
  padding-top: 15px;
}
#navigation li {
  display: inline-block;
}
#navigation li a {
  font-size: 18px;
  font-weight: 500;
  padding: 10px 15px;
  border-bottom: 3px solid #ffffff;
}
#navigation li a:hover,
#navigation li a:focus {
  color: #0171bd;
  text-decoration: none;
}
#navigation li.current a {
  color: #662d91;
  border-bottom-color: #662d91;
}
#navigation li.current a:hover,
#navigation li.current a:focus {
  color: #0171bd;
  border-bottom-color: #0171bd;
}
#logo {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.btn {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}
.btn.btn-purple {
  background-color: #662d91;
}
.btn.btn-purple:hover,
.btn.btn-purple:focus {
  background-color: #7433a4;
}
.btn.btn-blue {
  background-color: #0171bd;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus {
  background-color: #0180d6;
}
.jumbotron {
  background-color: #cce3f1;
}
.jumbotron h3 {
  color: #0171bd;
}
.jumbotron p {
  font-weight: 400;
}
#breadcrumbs {
  background-color: #cce3f1;
  margin-top: 15px;
  margin-bottom: 15px;
}
#breadcrumbs .breadcrumb {
  background-color: #cce3f1;
  margin-bottom: 0;
}
#breadcrumbs .breadcrumb li a {
  color: #151515;
}
#breadcrumbs .breadcrumb li.active {
  color: #151515;
  font-weight: 600;
}
#breadcrumbs .breadcrumb li + li:before {
  color: #151515;
  font-weight: normal;
}
.circle {
  text-align: center;
  width: 310px;
  height: 310px;
  position: relative;
  z-index: 200;
}
.circle:before,
.circle:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 310px;
  height: 310px;
  border-radius: 50%;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.circle:hover:before {
  opacity: 1;
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0);
}
.circle.circle-purple:before,
.circle.circle-purple:after {
  background-color: #662d91;
  margin-left: -130px;
  margin-top: -145px;
}
.circle.circle-purple:before {
  margin-left: -170px;
  margin-top: -170px;
}
.circle.circle-blue:before,
.circle.circle-blue:after {
  background-color: #0171bd;
  margin-left: -145px;
  margin-top: -175px;
}
.circle.circle-blue:before {
  margin-left: -160px;
  margin-top: -145px;
}
.circle .img-circle {
  border: 5px solid #ffffff;
  width: 300px;
  height: 300px;
}
#sidebar {
  padding-top: 30px;
}
#sidebar .circle {
  height: 250px;
  width: 250px;
}
#sidebar .circle .img-circle {
  width: 240px;
  height: 240px;
}
#sidebar .circle:before,
#sidebar .circle:after {
  width: 240px;
  height: 240px;
}
#sidebar .circle.circle-purple:before,
#sidebar .circle.circle-purple:after {
  margin-left: -107px;
  margin-top: -113px;
}
#sidebar .circle.circle-purple:before {
  margin-left: -133px;
  margin-top: -135px;
}
#sidebar .circle.circle-blue:before,
#sidebar .circle.circle-blue:after {
  margin-left: -110px;
  margin-top: -132px;
}
#sidebar .circle.circle-blue:before {
  margin-left: -130px;
  margin-top: -115px;
}
#decrease {
  font-size: 10px;
}
#reset {
  font-size: 12px;
}
#increase {
  font-size: 14px;
}
[data-title] {
  position: relative;
  padding: 0;
}
[data-title]::before,
[data-title]::after {
  position: absolute;
  left: 50%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  background: #662d91;
  border: 1px solid #662d91;
  -moz-transition: opacity 200ms 50ms linear;
  -webkit-transition: opacity 200ms 50ms linear;
  -o-transition: opacity 200ms 50ms linear;
  transition: opacity 200ms 50ms linear;
}
[data-title]:hover::before,
[data-title]:hover::after {
  opacity: 1;
  visibility: visible;
}
[data-title]::before {
  content: attr(data-title);
  min-width: 120px;
  padding: 8px;
  text-align: center;
  margin: 30px 0 0 -68px;
  font: normal 14px/16px 'Clear Sans', Sans-serif;
  color: #ffffff;
  cursor: default;
  border-radius: 4px;
}
[data-title]::after {
  content: "";
  width: 8px;
  height: 8px;
  margin: 26px 0 0 -6px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
#content {
  padding-bottom: 30px;
}
#content a {
  color: #575958;
}
.panel-wrap:nth-child(odd) h3 {
  color: #662d91;
}
.panel-wrap:nth-child(odd) img {
  border: 5px solid #662d91;
  margin-bottom: 15px;
}
.panel-wrap:nth-child(odd) .btn {
  background-color: #662d91;
}
.panel-wrap:nth-child(even) h3 {
  color: #0171bd;
}
.panel-wrap:nth-child(even) img {
  border: 5px solid #0171bd;
  margin-bottom: 15px;
}
.panel-wrap:nth-child(even) .btn {
  background-color: #0171bd;
}
#footer {
  background-color: #575958;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  color: #ffffff;
  padding-top: 5px;
}
#footer p {
  line-height: 45px;
}
/*# sourceMappingURL=styles.css.map */