﻿@font-face {
	font-family: 'Clear Sans';
	font-style: normal;
	font-weight: 100;
	src: local('ClearSans-Thin'), local('Clear Sans Thin'), url('../Fonts/clearsans/ClearSans-Thin.eot'), url('../Fonts/clearsans/ClearSans-Thin.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-Thin.woff') format('woff'), url('../Fonts/clearsans/ClearSans-Thin.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-Thin.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: normal;
	font-weight: 300;
	src: local('ClearSans-Light'), local('Clear Sans Light'), url('../Fonts/clearsans/ClearSans-Light.eot'), url('../Fonts/clearsans/ClearSans-Light.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-Light.woff') format('woff'), url('../Fonts/clearsans/ClearSans-Light.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-Light.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: normal;
	font-weight: 400;
	src: local('ClearSans'), local('Clear Sans'), url('../Fonts/clearsans/ClearSans-Regular.eot'), url('../Fonts/clearsans/ClearSans-Regular.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-Regular.woff') format('woff'), url('../Fonts/clearsans/ClearSans-Regular.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-Regular.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: italic;
	font-weight: 400;
	src: local('ClearSans-Italic'), local('Clear Sans Italic'), url('../Fonts/clearsans/ClearSans-Italic.eot'), url('../Fonts/clearsans/ClearSans-Italic.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-Italic.woff') format('woff'), url('../Fonts/clearsans/ClearSans-Italic.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-Italic.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: normal;
	font-weight: 500;
	src: local('ClearSans-Medium'), local('Clear Sans Medium'), url('../Fonts/clearsans/ClearSans-Medium.eot'), url('../Fonts/clearsans/ClearSans-Medium.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-Medium.woff') format('woff'), url('../Fonts/clearsans/ClearSans-Medium.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-Medium.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: italic;
	font-weight: 500;
	src: local('ClearSans-MediumItalic'), local('Clear Sans Medium Italic'), url('../Fonts/clearsans/ClearSans-MediumItalic.eot'), url('../Fonts/clearsans/ClearSans-MediumItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-MediumItalic.woff') format('woff'), url('../Fonts/clearsans/ClearSans-MediumItalic.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-MediumItalic.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: normal;
	font-weight: 700;
	src: local('ClearSans-Bold'), local('Clear Sans Bold'), url('../Fonts/clearsans/ClearSans-Bold.eot'), url('../Fonts/clearsans/ClearSans-Bold.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-Bold.woff') format('woff'), url('../Fonts/clearsans/ClearSans-Bold.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-Bold.svg') format('svg');
}

@font-face {
	font-family: 'Clear Sans';
	font-style: italic;
	font-weight: 700;
	src: local('ClearSans-BoldItalic'), local('Clear Sans Bold Italic'), url('../Fonts/clearsans/ClearSans-BoldItalic.eot'), url('../Fonts/clearsans/ClearSans-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../Fonts/clearsans/ClearSans-BoldItalic.woff') format('woff'), url('../Fonts/clearsans/ClearSans-BoldItalic.ttf') format('truetype'), url('../Fonts/clearsans/ClearSans-BoldItalic.svg') format('svg');
}
