﻿// ----------------------------------
// --------------- Colurs
// ----------------------------------

@white: rgb(255, 255, 255);
@light-blue: rgb(204, 227, 241);
@blue: rgb(1, 113, 189);
@purple: rgb(102, 45, 145);
@grey: rgb(87, 89, 88);
@black: rgb(21, 21, 21);

// ----------------------------------
// --------------- Generic
// ----------------------------------

html {
	border-top: 5px solid @purple;
	height: 100%;
}

body {
	font-family: 'Clear Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 400;
	font-size: 14px;
	border-top: 5px solid @blue;
	color: @black;
	padding-bottom: 60px;
	min-height: 100%;
	position: relative;
}

h1 {
	font-weight: 700;
	letter-spacing: -1px;
}

h2 {
	font-size: 24px;
	font-weight: 700;
}

h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 1px;
}

a {
	color: @black;

	&:hover {
		color: @black;
	}

	&:focus {
		outline: none;
		color: @blue;
		text-decoration: none;
	}
}

strong {
	font-weight: 600;
}

// ----------------------------------
// --------------- Accessibility
// ----------------------------------

#accessibility {
	li {
		display: inline-block;
		padding: 0 10px;
		border-left: 1px solid @black;
		line-height: 12px;

		&:first-child, &:last-child {
			border-left: none;
		}

		a {
			font-weight: 500;

			&.btn {
				margin-top: -20px;
				padding: 27px 16px 15px 16px;
			}
		}
	}
}

// ----------------------------------
// --------------- Navigation
// ----------------------------------

#navigation {
	padding-top: 15px;

	li {
		display: inline-block;

		a {
			font-size: 18px;
			font-weight: 500;
			padding: 10px 15px;
			border-bottom: 3px solid @white;

			&:hover, &:focus {
				color: @blue;
				text-decoration: none;
			}
		}

		&.current {
			a {
				color: @purple;
				border-bottom-color: @purple;

				&:hover, &:focus {
					color: @blue;
					border-bottom-color: @blue;
				}
			}
		}
	}
}

#logo {
	max-width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
}

// ----------------------------------
// --------------- Buttons
// ----------------------------------

.btn {
	color: @white;
	font-size: 18px;
	font-weight: 500;

	&.btn-purple {
		background-color: @purple;

		&:hover, &:focus {
			background-color: lighten(@purple, 5%);
		}
	}

	&.btn-blue {
		background-color: @blue;

		&:hover, &:focus {
			background-color: lighten(@blue, 5%);
		}
	}
}

// ----------------------------------
// --------------- Carousel
// ----------------------------------

.jumbotron {
	background-color: @light-blue;

	h3 {
		color: @blue;
	}

	p {
		font-weight: 400;
	}
}

// ----------------------------------
// --------------- Breadcrumbs
// ----------------------------------

#breadcrumbs {
	background-color: @light-blue;
	margin-top: 15px;
	margin-bottom: 15px;
	.breadcrumb {
		background-color: @light-blue;
		margin-bottom: 0;
		li {
			a {
				color: @black;
			}
			&.active {
				color: @black;
				font-weight: 600;
			}
		}
		li + li:before {
			color: @black;
			font-weight: normal;
		}
	}
}

// ----------------------------------
// --------------- Circle Images
// ----------------------------------

.circle {
	text-align: center;
	width: 310px;
	height: 310px;
	position: relative;
	z-index: 200;

	&:before, &:after {
		content: "";
		display: block;
		position: absolute;
		left: 50%;
		top: 50%;
		width: 310px;
		height: 310px;
		border-radius: 50%;
		z-index: -1;
		//opacity: 0;
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}

	&:hover:before {
		opacity: 1;
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
		transform: rotate(0);
	}

	&.circle-purple {
		&:before, &:after {
			background-color: @purple;
			margin-left: -130px;
			margin-top: -145px;
		}
		&:before {
			margin-left: -170px;
			margin-top: -170px;
		}
	}

	&.circle-blue {
		&:before, &:after {
			background-color: @blue;
			margin-left: -145px;
			margin-top: -175px;
		}
		&:before {
			margin-left: -160px;
			margin-top: -145px;
		}
	}

	.img-circle {
		border: 5px solid @white;
		width: 300px;
		height: 300px;
	}
}

// ----------------------------------
// --------------- Sidebar
// ----------------------------------

#sidebar {
	padding-top: 30px;
	.circle {
		height: 250px;
		width: 250px;
		.img-circle {
			width: 240px;
			height: 240px;
		}
		&:before, &:after {
			width: 240px;
			height: 240px;
		}
		&.circle-purple {
			&:before, &:after {
				margin-left: -107px;
				margin-top: -113px;
			}
			&:before {
				margin-left: -133px;
				margin-top: -135px;
			}
		}

		&.circle-blue {
			&:before, &:after {
				margin-left: -110px;
				margin-top: -132px;
			}
			&:before {
				margin-left: -130px;
				margin-top: -115px;
			}
		}
	}
}

// ----------------------------------
// --------------- Font Changer
// ----------------------------------


#decrease {
	font-size: 10px;
}

#reset {
	font-size: 12px;
}

#increase {
	font-size: 14px;
}

// ----------------------------------
// --------------- Title
// ----------------------------------

[data-title] {
	position: relative;
	padding: 0;

	&::before,
	&::after {
		position: absolute;
		left: 50%;
		z-index: 9999;
		opacity: 0;
		visibility: hidden;
		background: @purple;
		border: 1px solid @purple;
		-moz-transition: opacity 200ms 50ms linear;
		-webkit-transition: opacity 200ms 50ms linear;
		-o-transition: opacity 200ms 50ms linear;
		transition: opacity 200ms 50ms linear;
	}

	&:hover::before,
	&:hover::after {
		opacity: 1;
		visibility: visible;
	}

	&::before {
		content: attr(data-title);
		min-width: 120px;
		padding: 8px;
		text-align: center;
		margin: 30px 0 0 -68px;
		font: normal 14px/16px 'Clear Sans', Sans-serif;
		color: @white;
		cursor: default;
		border-radius: 4px;
	}

	&::after {
		content: "";
		width: 8px;
		height: 8px;
		margin: 26px 0 0 -6px;
		-moz-transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		-o-transform: rotate(45deg);
		transform: rotate(45deg);
	}
}

// ----------------------------------
// --------------- Content
// ----------------------------------

#content {
	padding-bottom: 30px;
	a {
		color: @grey;
	}
}

// ----------------------------------
// --------------- Panels
// ----------------------------------

.panel-wrap {
	&:nth-child(odd) {
		h3 {
			color: @purple;
		}
		img {
			border: 5px solid @purple;
			margin-bottom: 15px;
		}
		.btn {
			background-color: @purple;
		}
	}
	&:nth-child(even) {
		h3 {
			color: @blue;
		}
		img {
			border: 5px solid @blue;
			margin-bottom: 15px;
		}
		.btn {
			background-color: @blue;
		}
	}
}

// ----------------------------------
// --------------- Footer
// ----------------------------------

#footer {
	background-color: @grey;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	color: @white;
	padding-top: 5px;
	p {
		line-height: 45px;
	}
}
