﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = "Master.cshtml";
	var featuredImage = Umbraco.Media(CurrentPage.featuredImage);

	int[] panels = { CurrentPage.panel1, CurrentPage.panel2, CurrentPage.panel3 };

	var panel1 = Umbraco.Content(CurrentPage.panel1);
	var panel2 = new umbraco.presentation.nodeFactory.Node(CurrentPage.panel2);
	var panel3 = new umbraco.presentation.nodeFactory.Node(CurrentPage.panel3);

}
<div class="jumbotron">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h3>@CurrentPage.featuredTitle</h3>
				<p>@CurrentPage.featuredContent</p>
				<p><a class="btn btn-blue" href="@library.NiceUrl(CurrentPage.featuredLink)" role="button">Read more</a></p>
			</div>
			<div class="col-sm-6">
				<div class="circle circle-purple">
					<div class="circle circle-blue">
						<img src="@featuredImage.Url" alt="Jemery Smith from the Takapuna, New Zealand" class="img-circle" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		@{
			foreach (var panel in panels) {
			var p = Umbraco.Content(panel);
			<div class="col-sm-4 panel-wrap">
				<div class="panel">
					<div class="panel-body">
						<h3>@p.Name</h3>
						<img src="@Umbraco.Media(p.image).Url" width="100%" />
						<p>@p.teaser</p>
						<a class="btn btn-block" href="@p.Url" role="button">Read more</a>
					</div>
				</div>
			</div>
			}
		}
	</div>
</div>