﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
	Layout = null;
	var root = Umbraco.Content(1092);
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>@CurrentPage.Name | Foetal Anti Convulsant Syndrome New Zealand</title>
	<link href="~/css/bootstrap.css" rel="stylesheet">
	<link href="~/css/styles.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="Scripts/html5shiv.js"></script>
		<script src="Scripts/respond.js"></script>
	<![endif]-->
	<script src="~/Scripts/jquery.js"></script>
	<script src="~/Scripts/bootstrap.js"></script>
</head>
<body>
	<div id="header" class="container">
		<div class="row">
			<div class="col-sm-4">
				<a href="/">
					<img id="logo" src="~/Images/logo.jpg" alt="FACSNZ Logo" />
				</a>
			</div>
			<div class="col-sm-8">
				<ul id="accessibility" class="navbar navbar-right">
					<li>
						<a id="decrease" href="#" data-title="Decrese text size">A</a>
						<a id="reset" href="#" title="Reset text size">A</a>
						<a id="increase" href="#" title="Increase font size">A</a>
					</li>
					<li><a href="https://webtoolkit.govt.nz/standards/web-accessibility-standard-1-0/" target="_blank">Accessibility</a></li>
					<!--<li><a href="#">Our newsletter</a></li>-->
					<li><a href="tel:@root.phone">@root.phone</a></li>
					<li><a href="/contact" class="btn btn-lg btn-purple">contact us</a></li>
				</ul>
				<ul id="navigation" class="navbar navbar-right">
					<li class="@(CurrentPage.Name == "Home" ? "current" : null)">
						<a href="/">Home</a>
					</li>
					@foreach (var page in root.Children.Where("Visible")) {
						<li class="@(page.IsAncestorOrSelf(CurrentPage) ? "current" : null)">
							<a href="@page.Url" class="dropdown-toggle">@page.Name</a>
						</li>
					}
				</ul>
			</div>
		</div>
	</div>
	@RenderBody()
	<div id="footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-9">
					<p>&copy; @DateTime.Now.Year FACS New Zealand</p>
				</div>
				<div class="col-xs-3">
					<a href="mailto:@root.email" class="pull-right">
						<img src="~/Images/email.png" height="50" />
					</a>
					<a href="@root.facebook" taregt="_blank" class="pull-right">
						<img src="~/Images/facebook.png" height="50" />
					</a>
				</div>
			</div>
		</div>
	</div>
</body>
</html>