﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
	var img = Umbraco.Media(CurrentPage.image);
}
<div id="breadcrumbs">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				@if (CurrentPage.Ancestors().Any()) {
					<ul class="breadcrumb">
						@foreach (var page in CurrentPage.Ancestors().OrderBy("Level")) {
							<li><a href="@page.Url">@page.Name</a></li>
						}
						<li class="active">@CurrentPage.Name</li>
					</ul>
				}
			</div>
		</div>
	</div>
</div>
<div id="main">
	<div class="container">
		<div class="row">
			<div id="sidebar" class="col-sm-3">
				<div class="circle circle-purple">
					<div class="circle circle-blue">
						<img src="@img.umbracoFile" alt="Jemery Smith from the Takapuna, New Zealand" class="img-circle">
					</div>
				</div>
			</div>
			<div id="content" class="col-sm-9">
				<h1>@CurrentPage.Name</h1>
				@CurrentPage.Content
			</div>
		</div>
	</div>
</div>